@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
}

main{
    background-color: white;
    border-radius: 1rem;   
    width: 88%;
    height: 31.5rem;
    display: flex;
    flex-direction: column;
}

.image {
    background-image: url(images/drawers.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 12.5rem;
    border-radius: 1rem 1rem 0 0;    
}

.content{
    flex-wrap: wrap;
    width: 100%;
    height: 15.5rem;
    border-radius: 0 0 1rem 1rem;
}

h1{
    padding: 2.5rem 2rem 1rem 2rem;
    letter-spacing: 0.01rem;
    color: hsl(217, 19%, 35%);
    
}

.content p{
    font-size: 13px;
    padding: 0 2.2rem 0 2rem;
    line-height: 1.3rem;
    letter-spacing: 0.01rem;
    text-align: left;
    color: hsl(214, 17%, 51%);
}

.profile{
    display: flex;
    flex-wrap: wrap;     
}

.profile p{
    font-size: 0.8rem;
    color: hsl(212, 23%, 69%); 
}

h2{
    font-size: 0.8rem;
    font-weight: 700;
    color: hsl(217, 19%, 35%);
}

.profileImg{
    border-radius: 50%;
    width: 2.5rem;
    margin: 0.8rem 1rem 0.8rem 1.7rem;
}

.nameDate{
    margin-top: 1rem;
}

.divIconImg{
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 5rem;
}

.iconImg{
    width: 1rem;
}

.bar{
    display: none; /*flex*/
    align-items: center;
    border-radius: 0 0 1rem 1rem;
    background-color: hsl(217, 19%, 35%);
    flex-grow: 1;
    height: 4rem;
}

.shareImg{
    height: 1.2rem;
    margin: 0 0.6rem;
}

.bar .divIconImg{
    margin-left: 2rem;
    margin-top: 0;
    background-color: hsl(212, 23%, 69%);
}

.bar .iconImg{
    filter: brightness(0) invert(1);
}

.bar p{
    margin-top: 0;
    color: hsl(212, 23%, 69%);
    font-weight: 700;
    letter-spacing: 0.4rem;
    padding: 0 0.7rem 0 2rem;
    font-size: 0.8rem;
}

@media (min-width:425px){
    *{
        font-size: 1.1rem;
    }

    h1, p {
        letter-spacing: 0;
    }
}

@media (min-width: 768px){
    
    main{
        height: 35rem;
    }

    .image{
        height: 35rem;
    }

    h1{
        padding-top: 1.5rem;
    }

    .profile{
        margin-left: 3rem;
    }

    .divIconImg{
        margin-left: 12rem;
    }

    .bar{
        height: 5rem;
    }

    .bar p{
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .bar .divIconImg{
        margin-left: 7rem;
    }

    .shareImg{
        margin: 0 1.5rem
    }
}

@media (min-width: 1023px){
      *{
        font-size: 1.2rem;
      }
      
      main{
        height: 40rem;
      }

      .profileImg{
        width: 3.5rem;
      }

      .nameDate{
        margin-left: 1.3rem;
    }

    .divIconImg{
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 20rem;
    }
    
    .iconImg{
        width: 1.5rem;
    }

    .bar .divIconImg{
        margin: 1.3rem 0 1.3rem 8rem;
    }

    .bar p{
        margin-right: 6.5rem;
    }



}



/*
.balloon{
    margin: 0 auto; 
    background: #7e57c2;
    font-size: 0.85em;
    line-height: 1.6em;  
    border-radius: 15px;
    width: 300px;
    height: auto;
    color: #fff;
    padding: 20px;
    position: relative;
    margin-top: 30px;
    display: none;
}

.balloon:after{ /*Triangulo*/ /*
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    /*Faz seta "apontar para baixo. Definir o valor como 'top' fará ela "apontar para cima" */
    /*Aqui entra a cor da "aba" do balão 
    border-bottom: 20px solid aqua;
    bottom: -20px; /*localização. Experimente alterar para 'bottom'
    left: 20%;
}